<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link  href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <title>Food tracker</title>
    </head>
    <body class="bg-primary p-2 text-white bg-opacity-50 text-center ">
        <div class="mt-4">
            <h1>Welcome to food tracker </h1>
            <img class="rounded mx-auto d-block" src="{% static 'images/72fG.gif' %}">
            <a href="{% url 'login' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Please login to continue</a>
        </div>
    </body>
    <footer class="text-center text-white">
        <p class="pt-5">Copyright © 2023 Foodtrack<br>
     </footer>
</html>